<launch>
    <!-- Define arguments and defaults -->
    <arg name="robot_addr" default="localhost"/>
    <arg name="robot_launch" default="igvc.launch"/>
    <arg name="controller_type" default="moga.yaml" />
    <include file="$(find control)/launch/$(arg robot_launch)" />

    <!-- Connect to the specified master -->
    <env name="ROS_MASTER_URI" value="http://$(arg robot_addr):11311"/>
    
    
    <!-- Launch joy_node -->
    <node pkg="joy" type="joy_node" name="joy_node" respawn="true">
        <param name="deadzone" value=".1"/>
    </node>
    
    <!-- Load parameter file -->
    <rosparam command="load" file="$(find control)/param/igvc.yaml"/>
    <rosparam command="load" file="$(find control)/param/controllers/$(arg controller_type)"/>
    
    <!-- Launch teleop configuration -->
    <node pkg="control" type="remote_control_node" name="remote_control_node"/>
    <node pkg="control" type="teleop_mux_node" name="teleop_mux_node"/>
    <node pkg="control" type="motor_controller_node" name="motor_controller_node"/>
    
    <!-- Arduino Stuff -->
    <node name="arduino_right" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB1"/>
    <node name="arduino_left" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB0"/>
    <node name="arduino_conv" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB2"/>
    <node name="arduino_dump" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB3"/>

    <!-- Sensing and mapping files -->
    <include file="$(find control)/launch/slam.launch"/>
    
</launch>
