<?xml version="1.0"?>

<robot name="igvc_sim" xmlns:xacro="http://ros.org/wiki/xacro" >
    <xacro:macro name="igvc_sim">
        <!-- Drive plugin -->
        <gazebo>
            <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
                <alwaysOn>true</alwaysOn>
                <leftJoint>right_wheel_joint</leftJoint>
                <rightJoint>left_wheel_joint</rightJoint>
                <wheelSeparation>0.5207</wheelSeparation>
                <wheelDiameter>0.4064</wheelDiameter>
                <wheelTorque>75.3</wheelTorque>
                <commandTopic>cmd_vel</commandTopic>
                <odometryTopic>odom</odometryTopic>
                <odometryFrame>odom</odometryFrame>
                <robotBaseFrame>base_link</robotBaseFrame>
            </plugin>
        </gazebo>
        
        <gazebo reference="laser_link">
            <sensor type="ray" name="hokuyo_sensor">
                <pose>0 0 0 0 0 0</pose>
                <visualize>true</visualize>
                <update_rate>40</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>1080</samples>
                            <resolution>1</resolution>
                            <min_angle>-2.35619449</min_angle>
                            <max_angle>2.35619449</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.10</min>
                        <max>30.0</max>
                        <resolution>0.03</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.01</stddev>
                    </noise>
                </ray>
	            <plugin name="gazebo_ros_hokuyo_controller" filename="libgazebo_ros_laser.so">
	                <topicName>/scan</topicName>
	                <frameName>laser_link</frameName>
	            </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>