<?xml version="1.0"?>

<robot name="igvc_sim" xmlns:xacro="http://ros.org/wiki/xacro" >
    <xacro:macro name="igvc_sim">
        <gazebo>
            <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
                <alwaysOn>true</alwaysOn>
                <leftJoint>right_wheel_joint</leftJoint>
                <rightJoint>left_wheel_joint</rightJoint>
                <wheelSeperation>0.5207</wheelSeperation>
                <wheelDiameter>0.4064</wheelDiameter>
                <torque>75.3</torque>
                <commandTopic>cmd_vel</commandTopic>
                <odometryTopic>odom</odometryTopic>
                <odometryFrame>odom</odometryFrame>
                <robotBaseFrame>base_link</robotBaseFrame>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>